/* Contact Us */

#sendBtn{
  height: 75px;
  background-color: #ff8500;
  margin-bottom: 300px;
}

.contactTitle{
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

#inputName, #inputEmail, #inputAddress, #inputPhone{
  height: 75px;
}