/* Contact Us */

#sendBtn{
  height: 75px;
  background-color: #ff8500;
  margin-bottom: 300px;
}

.contactTitle{
  font-family: Roboto, sans-serif;
  font-weight: 700;
}

#inputName, #inputEmail, #inputAddress, #inputPhone{
  height: 75px;
}

.hiddenBtn{
  display: none;
}

.contactAlert {
  min-height: 24px;
  background: #fedce0;
  color: #96394f;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
