* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
}

/*behavior*/
html {
  scroll-behavior: smooth;
}

/* SCROL BAR */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b30000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7a0202;
}

/* HEADER START */
header {
  border-bottom: 2px solid whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background: #fff;
  box-shadow: 0 3px 2px rgb(0 0 0 / 15%);
}

header ul {
  flex: 1;
  justify-content: center;
}

/* header .navbar-collapse {
  height: 100vh;
} */

header a {
  color: #343a40 !important;
  font-weight: 400;
  transition: 0.4s;
  text-decoration: none;
}

header a.active {
  color: #710418 !important;
  font-weight: 600 !important;
  font-weight: 600 !important;
  height: 21px !important;
  border: none !important;
}

header .navbar-collapse button {
  background: unset;
  border: none;
  color: #710418;
  font-weight: bold;
}

.navbar-nav .nav-link {
  padding: 0 !important;
  margin: 0 8px !important;
}

.nav-tabs .nav-link {
  text-transform: capitalize;
}

/* =======  SOCIAL MEDIA START ======= */
.socialMedia-section {
  margin: 100px 0 50px;
}

.socialMedia-section h2 {
  font-size: 28px;
  font-weight: bold;
}

.socialMedia-section a {
  font-size: 4.5rem;
  color: #1d1102;
}
.zoom:hover{
  transform: scale(1.1);
  transition: transform .2s;
  color: #ff8b00;
}

/* =======  FOOTER START ======= */
footer {
  background-color: #391f00;
}
.footerInfo h5,
.footerInfo p {
  width: 150px;
}

/****MODAL SECTION****/

.modal-header h1 {
  font-weight: bold;
}

.modal-body input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.modal-body button {
  width: 90%;
  background-color: rgb(255, 123, 0);
}
.alert-danger {
  display: none;
}

.alert-success {
  display: none;
}

.page-carousel button.slick-arrow {
  border: none !important;
  background: none !important;
}

.page-carousel button.slick-arrow img {
  width: 50px;
  height: 50px;
}

.page-carousel button.slick-prev {
  position: absolute;
  left: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.page-carousel button.slick-next {
  position: absolute;
  right: -70px;
  top: 50%;
  transform: translateY(-50%);
}

.about-section .value {
  height: 4rem;
  font-size: 2.7rem;
  font-weight: bold;
  text-align: center;
  color: #8c3243;
}
.about-section .value + div {
  text-align: center;
  color: #8c3243;
}

.catalog-section .catalog-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.catalog-section .catalog-btns .btn {
  height: 12vh;
  width: 100%;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  text-transform: capitalize;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.catalog-section .catalog-btns .btn:hover {
  transform: scale(1.1);
}

.about-section h2 {
  font-weight: bold;
}

.check-user {
  min-height: 24px;
  background: #fedce0;
  color: #96394f;
  padding: 10px;
  border-radius: 4px;
  display: none;
}

:is(#join-form, #admin-login-form) .check-user {
  width: 90%;
  margin: 20px auto;
}

#adminPanel {
  display: none;
}

.catalog-section {
  position: relative;
  min-height: 500px;
}

.spin-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-section .spin-animation {
  top: 60%;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 992px) {
  /* MENU BAR */
  body {
    overflow-x: hidden;
  }

  header {
    border-bottom: none;
    box-shadow: unset;
  }

  header .container {
    max-width: 100vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  header .navbar-brand {
    margin-left: 24px;
  }

  header .navbar-toggler {
    margin-right: 24px;
  }

  header .navbar {
    padding-bottom: 0 !important;
  }

  header .navbar-collapse {
    width: 100%;
    background: hsl(0deg 0% 100%);
    box-shadow: 0 8px 8px rgb(0 0 0 / 60%);
  }

  header .navbar-collapse button {
    font-weight: bold;
    font-size: 18px;
  }

  header .navbar-collapse .nav-link {
    font-weight: bold !important;
    font-size: 18px;
  }

  header .navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;

    gap: 30px;
    padding: 60px 0 30px 0;
  }

  header .navbar-nav li {
    width: 100%;
    text-align: center;
    padding: 10px;
    transition: 0.4s;
  }
 
  header .navbar-nav li:hover {
    background: #710418;
  }

  header .navbar-nav li:hover a {
    color: #fff !important;
  }

  header :is(.navbar-toggler.collapsed, .navbar-toggler) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: none;
    z-index: 2;
  }

  header :is(.navbar-toggler.collapsed, .navbar-toggler) .line {
    display: block;
    width: 25px;
    height: 3px;
    background: #720418;
    transition: 0.4s;
  }

  header .navbar-toggler[aria-expanded="true"] .line:nth-child(2) {
    display: none;
  }

  header .navbar-toggler[aria-expanded="true"] .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
  }

  header .navbar-toggler[aria-expanded="true"] .line:nth-child(3) {
    transform: rotate(-45deg);
  }
  .page-carousel button.slick-arrow img {
    width: 40px;
    height: 40px;
  }

  .page-carousel button.slick-next {
    right: -60px;
  }

  .page-carousel button.slick-prev {
    left: -60px;
  }

  .page-carousel .slick-dots button {
    display: none;
  }

  .page-carousel .slick-dots {
    display: none;
  }

  header .navbar-collapse button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    top: 60px;
  }
}

@media only screen and (max-width: 768px) {
  /* CATALOG PAGE */
  .page-carousel button.slick-arrow {
    display: none !important;
  }
  .page-carousel .slick-dots {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .page-carousel .slick-dots li {
    margin-right: 20px !important;
    cursor: pointer;
  }
  .page-carousel .slick-dots li::marker {
    font-size: 30px !important;
    color: #ccc;
  }
  .page-carousel .slick-dots li.slick-active::marker {
    color: #720418 !important;
  }
}
