* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0;
}

/*MAIN SECTION*/
.bear img {
  width: 80%;
}

.info-section a {
  background-color: rgb(255, 123, 0);
}

.info-section {
  margin-top: 15%;
}

.catalogButton {
  font-weight: bold;
}

.catalog-section h2 {
  font-size: 2rem;
  font-weight: bold;
}

.ca

.about-section h2 {
  font-size: 2rem;
  font-weight: bold;
}



.delivery-section h2 {
  font-size: 2rem;
  font-weight: bold;
}
